body {
    background-color: #4a3d35f9;
    width: auto; 
}

.headshot-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; 
}

        .top-image img {
            max-width: 30%;
            padding: 10px;
            border: 10px solid #114f4f;
            box-sizing: border-box;
            position: absolute;
            z-index: 2;
            transform: translate(95%, -103%);
        }

        .top-right-text {
            max-width: 20%;
            padding: 10px;
            background-color: #114f4f;
            font-family: Book Antiqua, serif;
            color: #ffc0cb;            
            box-sizing: border-box;
            position: absolute;
            max-width: 10%;
            z-index: 4;
            left: 85%; 
            top: 10%; 
        }

        .top-left-text {
            max-width: 20%;
            padding: 10px;
            background-color: #114f4f;
            font-family: Book Antiqua, serif;
            color: #ffc0cb;            
            box-sizing: border-box;
            position: absolute;
            max-width: 10%;
            z-index: 3;
            left: 5%; 
            top: 10%; 
        }

.art-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

        .bottom-image img {
            flex: 1;
            max-width: 100%;
            z-index: 1;
        }

.title {
    color: #ffc0cb;
    font-family: Book Antiqua, serif;
}

.main-content {
    color: #ffc0cb;
    font-family: Book Antiqua, serif;
}

.work-experience h2 {
    color: #ffc0cb;
    padding: 10px;
    font-size: 20px;
    font-family: Book Antiqua, serif;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
}   

        .work-experience {
            color: #ffc0cb;
            background-color: #134a4a;
            padding: 20px;
            text-align: center;
            font-size: 16px;
            font-family: Book Antiqua, serif;
            border-radius: 10px;
            width: 600px;
            margin: 0 auto;
        }

.side-bar {
    background-color: #ffc0cb;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-family: Book Antiqua, serif;
    color: #114f4f;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
}

        .vertical-box h2 {
            color: #114f4f;
            font-size: 20px;
            font-family: Book Antiqua, serif;
        }

        .vertical-box {
            color: #114f4f;
            margin-bottom: 20px;
            display: flex; 
            flex-direction: column;
            align-items: flex-start;
        }

        .secondary-vertical-box h2 {
            color: #114f4f;
            font-size: 20px;
            font-family: Book Antiqua, serif;
        }

        .secondary-vertical-box {
            color: #114f4f;
            font-size: 20px;
            font-family: Book Antiqua, serif;
        }


.footer {
    font-size: 28px;
    font-family: Book Antiqua, serif;
    color: #114f4f;
}

        a {
            color: #114f4f;
            text-decoration: underline;
        }

        a:hover {
            color: #114f4f;
        }

        a:visited {
            color: #114f4f;
        }
