body,
html {
    margin: 0;
    padding: 10;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bottom-image img {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.top-image img {
    border: 10px solid #ccc;
    padding: 10px;
    display: block;
    max-width: 100%;
    padding: 30px;
    border: 10px solid #114f4f;
    box-sizing: border-box;

}

.top-left-text {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 3;
    font-family: Book Antiqua, serif;
    color: #ffc0cb;
    background-color: #114f4f;
    padding: 10px 20px;
}

.top-right-text {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: rgba(17, 79, 79);
    font-family: Book Antiqua, serif;
    color: #ffc0cb;
    padding: 10px 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.vertical-box a {
    text-decoration: none;
    padding: 5px;
    margin: 5px 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 0px solid;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
}

.button-container {
    display: flex;
    gap: 10px;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    margin-right: 5px;
}




