.container {
    display: flex;
    flex-direction: row;
    padding: 40px; 
    width: fit-content;
}

.header {
    background-color: #ffffff; 
    color: #125065;
    font-family: Book Antiqua, serif;
    font-size: 25px;
    text-align: center;   
}
    .h2 {
        font-family: 'Vast Shadow', cursive;
        font-size: 40px;
        text-align: center; 
        padding-top: 10px;
    }

.header-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: 10px;
    flex: 1;
    max-width: 200%;
    z-index: 1;
}

.content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #c1c6dd;
    color: #125065;
    height: 90%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #125065;
    border-radius: 5px;
    margin-bottom: 20px;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
}

.work {
    background-color: #8593cd; 
}

#headshot,
#toggleHeadshot {
    width: 200px;
    height: auto; 
    border: 2px solid #ffffff;
    margin-top: 20px; 
}

.btn {
    font-family: garamond, serif;
    font-weight: bold; 
    background-color: #8593cd; 
    border: 2px solid #125065;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(205, 193, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .btn:hover {
        background-color: #606ea7;
        box-shadow: 0px 6px 12px 0px rgba(205, 193, 210);
    }

.color-toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.color-toggle-button.blue {
    background-color: rgb(39, 39, 94);
    color: white;
}

.color-toggle-button.green {
    background-color: rgb(27, 117, 103);
    color: white;
}

.footer {
    background-color: #c1c6dd; 
    font-family: garamond, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}
    a {
        color: #125065;
        text-decoration: underline;
    }
    a:hover {
        color: #125065;
    }
    a:visited {
        color: #125065;
    }

.sub-footer {
    font-family: garamond, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}